.navbar {
  background-color: #f8f9fa;
}
.brand {
  color: #f8f9fa;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: #777;
}
.nav-link {
  color: #f8f9fa;
}

.nav-link:hover {
  color: #007bff;
}

.form-inline {
  float: right;
}

.button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #c291e2;
  color: #38015c;
}