.navbar {
  background-color: #f8f9fa;
}

.brand {
  color: #f8f9fa;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: #777;
}
.nav-link {
  color: #f8f9fa;
}

.nav-link:hover {
  color: #007bff;
}

.form-inline {
  float: right;
}
